@import '../../Styles/Mixins.scss';
@import '../../Styles/Variables.scss';
@import '../../Styles/Font-face.scss';
.nextVideo{
    display:flex;
    @include side-margin();
    margin-bottom: 1.5rem;
    @media (min-width: 768px){
        width: 372px;
    }
    @media (min-width: 1440px){
        margin-right: 180px;
        width: 344px;
    }
    &__image{
        width: 7.5rem;
        height: 4.375rem;
        margin-right: 1rem;
        border-radius: 0.25rem;
    }
    &__description{
        display: flex;
        flex-direction: column;
        height: 4.375rem;
        &__header{
            @include subheader();
            margin-bottom: 0.3rem;
            // line-height: 0.875rem;
            
            height: 44px;
            @media (min-width: 768px){
                margin-bottom: 0;
                height: auto;
            }

        }
        &__by{
            @include subheader-com();
        }
    }
}