@import '../../Styles/mixins.scss';
@import '../../Styles/variables.scss';
@import '../../Styles/font-face.scss';
.main{
    @include side-margin();
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    @media (min-width: 768px){
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
    @media (min-width: 1440px){
        margin-right: 0px;
        margin-left: 180px;
        margin-top: 2.5rem;
        width: 712px;
    }
    &--tablet{
        @media (min-width: 768px){
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           border-bottom: solid 1px $divider;
        }
    }
    &__header{
        @include header();
        margin-bottom: 1rem;
        @media (min-width: 768px){
            margin-bottom: 1.5rem;
        }
        @media (min-width: 1440px){
            margin-bottom: 1rem;
        }
    }
    &__subinfo{
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;
        
        &__by{
        @include subheader();
        margin-right: 0.5rem;
        }
        &__date{
            @include subheader();
            color: $divider;
        }
    }
    &__subbar{
        display: flex;
        align-content: center;
        padding-bottom: 1.5rem;
        border-bottom: solid 1px $divider;
        @media (min-width: 768px){
           border-bottom: none;
        }
        &__views{
            display: flex;
            align-items: center;
            @include subheader-com();
            margin-right: 1.4rem;
            @media (min-width: 768px){
                margin-right: 1.5rem;
            }
            &__icon{
                margin-right: 0.5rem;
            }
        }
        &__likes{
            display: flex;
            align-items: center;
            @include subheader-com();
            @media (min-width: 1440px){
                margin-right: 2rem;
            }
            &__icon{
                margin-right: 0.5rem;
            }
        }
    }
    &__description{
        margin-top: 1.5rem;
        @media (min-width: 768px){
           margin-top: 2.5rem;
           margin-right: 210px;
        }
        @include paragraph()
    }
}