@import '../../Styles/Mixins.scss';
@import '../../Styles/Variables.scss';
@import '../../Styles/Font-face.scss';
.commentsec__existing{
    border-top: solid 1px $divider;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    @include side-margin();
   
    @media (min-width: 1440px){
        margin-left: 180px;
        margin-right: 0;
        
    }
    &__one{
        padding-top: 1.5rem;
        
        display: flex;
        &__image{
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 1.2rem;
            object-fit: cover;
            @media (min-width: 768px){
                width: 3rem;
                height: 3rem;
                border-radius: 1.5rem
            }
        }
        &__comment{
            display: flex;
            flex-direction: column;
            margin-left:1rem;
            width: 80%;
            &__header{
                display: flex;
                justify-content: space-between;
                &--name{
                    @include subheader();
                }
                &--date{
                    color: $divider;
                }
            }
            &__body{
                @include subheader-com();
                margin-top: 1rem;
                
                
            }
            
        }
    }
   
}

