$navgroundcolor: #323232 ;
$parcolor: #323232;
$labelcolor: #AFAFAF;
$textborder: #E1E1E1 ;
$textbackfill: #FAFAFA;
$lightblacktint: rgba(100, 99, 99, 0.397);
$divider: rgb(224, 224, 224);
$clicked: rgb(24, 23, 105);
$brainflix-blue: rgb(76, 207, 127); //primary CTA Link
$brainflix-blue-dark: #0065AD; // CTA on hover

