@import '../../Styles/Mixins.scss';
@import '../../Styles/Variables.scss';
@import '../../Styles/Font-face.scss';
.main-header{
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    @include side-margin();
    margin-bottom: 1rem;
    &__logo{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 2rem;
    }
    &--row{
        display: flex;
        flex-direction: row;
        width: 100%;
        // justify-content: baseline;
    }
   
    &__image{
        width: 3rem;
        height: 3rem;
        border-radius: 6rem;
        object-fit: cover;
        justify-self: right;
    }
    &__button{
        height: 3rem;
        background-color:$brainflix-blue;
        @include labels-button();
        // margin-top: 0.5rem;
        // margin-bottom: 1rem;
        border-radius: 0.25rem;
        margin-right: 1rem;
        flex-grow: 100;
        
        
    }
    &__search-container{
        
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 0.5rem;
        &__bar{
            height: 3rem;
            background-color:$textbackfill;
            border: none;
            flex-grow: 100;
        }
        &__button{
            box-sizing: border-box;
            height: 3rem;
            width: 3rem;
            background-color: $textbackfill;
            justify-self: left;
            border:none;
            margin-right: -5px;
        }
    }
}
